body {
  font-family:  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
    overflow-x:hidden;
}
p {
   font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.hide{
    display:none;
}
/*Header*/
.header {
  background:  rgba(81, 126, 246, 1); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(81, 126, 246, 1) , rgba(81, 151, 246, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(81, 126, 246, 1) , rgba(81, 151, 246, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(81, 126, 246, 1) , rgba(81, 151, 246, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(left, rgba(81, 126, 246, 1) , rgba(81, 151, 246, 1)); /* Standard syntax */
}

/*Navbar adjustments*/
@media(min-width:767px) {
    .navbar {
        padding: 0;
        
        
    }
    /*Menu in het midden zetten*/
    .nav > li > a {
      padding: 20px 15px;
    }
    /*Menu rechts uitlijnen*/
    .navbar .nav.pull-right {
    //float: right;
    margin-right: 98px;
  }
}
/**/
.navbar-default .navigation > .active > a,
.navbar-default .navigation > .active > a:hover,
.navbar-default .navigation > .active > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: rgba(255, 255, 255, 1);
    opacity:0.5;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;letter-spacing: 5px;
    font-weight: 200;
}
.navbar-default .navbar-toggle {
    
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:focus {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgba(255, 255, 255, 0.3);;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
    opacity: 1;
}

/*--------------------
--PUDDLE LANDING CSS--
--------------------*/
#intro {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(81, 126, 246, 1) , rgba(81, 151, 246, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(81, 126, 246, 1) , rgba(81, 151, 246, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(81, 126, 246, 1) , rgba(81, 151, 246, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(left, rgba(81, 126, 246, 1) , rgba(81, 151, 246, 1)); /* Standard syntax */
}

.clearfixself{
    clear:both;
}
#intro h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 13em;
    padding-top: 15%;
}
#intro b {
    font-family: 'Open Sans', sans-serif;

}
#intro p{ margin-left: 20%;}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}
.titleh1 h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 5em;
    padding: 20px 0 20px 0;

}
.bgpuddle {
    background-image: url(../images/drop_main.png);
    background-repeat: no-repeat;
    width: 100%;
    height:511px;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width:480px) {
    .bgpuddle {
        background-size: contain;
        width:200px;
        height:200px; 
    }
    #intro h1 {
        font-size: 4em;
    }
    .findout {
        padding-top:20px;
    }
     #intro p {margin:0;}
}
@media(min-width:480px) {
    .bgpuddle {
        background-size: contain;
        width:300px;
        height:300px; 
    }
    #intro h1 {
        font-size: 5em;
    }
}
@media(min-width:640px) {
    .bgpuddle {
        background-size: contain;
        width:500px;
        height:500px; 
    }
    #intro h1 {
        font-size: 9em;
    }
    .findout {
        padding-top:20px;
    }
     #intro p {margin:0;}
}
.findout {
    color: rgba(255, 255, 255, 1);
}
.findout a:hover, a:focus {color:rgba(255, 255, 255, 0.5);}

a {
    color:rgba(255, 255, 255, 1);
    opacity:1;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
    
}
a:hover, a:visited {
    color:rgba(255, 255, 255, 0.5);
    text-decoration: none;
    opacity: 0.5;
}
a:hover {
    text-decoration: none;
    

}
/*--------------------
-- WEATHER CSS--
--------------------*/
.minpad {
    margin-top:-50px;
}
.about-section {
    height:auto;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background: #eee;
    overflow: visible;
}
.weather_icon_title {
    font-size: 3em;
}
.bikes {
    background:  rgba(81, 126, 246, 1); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(81, 126, 246, 1) , rgba(81, 151, 246, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(81, 126, 246, 1) , rgba(81, 151, 246, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(81, 126, 246, 1) , rgba(81, 151, 246, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(left, rgba(81, 126, 246, 1) , rgba(81, 151, 246, 1)); /* Standard syntax */
    height:auto;;
    width:100%;
    color:#fff;
    padding: 20px 0 10px 0;
    margin: 0 0 50px 0;
}
.rentinfo {
    margin: 20px 0 50px 0;
    
    text-align: center;
}
.marginbot30 {
    padding-bottom: 30px;
}

.mapbox p{
    padding-bottom: 20px;
}
/*--------------------
-- CONTACT CSS--
--------------------*/
#map {
    width: 100%;
    height: 500px;
}
#contact{
    padding-bottom:50px;
    height:auto !important;
}
.newsletter {
    font:400 14px "Open Sans", Helvetica, Arial, sans-serif;
    
}
#contact input[type="text"], #contact input[type="email"], #contact textarea, #contact button[type="submit"] { font:400 14px "Open Sans", Helvetica, Arial, sans-serif; }

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#517ef6;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}
.newsletter {
    text-align: left;
}
.checkbox label:after {
   margin-right: 20px;
}
/*--------------------
-- FOOTER CSS--
--------------------*/

.footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: auto;
    width:100%;
    text-align: left;
    padding: 20px;
    background:  rgba(81, 126, 246, 1); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgba(81, 126, 246, 1) , rgba(81, 151, 246, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(81, 126, 246, 1) , rgba(81, 151, 246, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(81, 126, 246, 1) , rgba(81, 151, 246, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, rgba(81, 126, 246, 1) , rgba(81, 151, 246, 1)); /* Standard syntax */
    color: #fff;
}
.socialmedia li  {
    float:left;
    padding:20px;
}
.socialmedia li a {
    display: inline-block; 
}
.socialmedia ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: center;
}
.fa {color: #fff;}
.footercontent {
    width:980px;
    margin-left: auto;
    margin-right:auto
}


/*--------------------
-- QUIZ CSS--
--------------------*/

#quiz {
    text-indent: 10px;
    display:none;
    text-align: left;
}
#quiz h2 {
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}

.question {
text-decoration:underline;}


.button {
    width: 60px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #fff;
    color: #fff;
    margin: 0 2px 0 2px;
}

.button.active {
    background-color: #fff;;
    color: #OOO;
}
button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color:#517ef6;
}

#next, #prev, #start{
    background-color: #fff;
    
    width:49%;
    float:right;
    margin: 40px 0 0 0;
    padding: 5px 0 5px 0;
     font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
#prev, #start {
    float:left;
}

#box {
    width:70%;
    height:auto;
    margin:auto;
    padding: 0 25px 100px 10px;
    background-color: #517ef6;
    border-radius:1px;
    border-color: #fff;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.blue a {
    color: rgba(81, 151, 246, 1);
    opacity:1;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
    
}
.blue a:hover, a:visited {
    color:rgba(81, 151, 246, 1);
    text-decoration: none;
    opacity: 0.5;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.display{
    display: inline-block
}
#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}

#box input {
    margin-right:20px;
}

.input {
    font-family: 'Open Sans', sans-serif;
    font-size:1.5em;
}
.mapbox{
    width:100%;
    height:600px;
}
.map{
    width:100%;
    height:400px;
}
#mapBox{
    background:#999;
    display:flex;
    align-items:center;
    justify-content:center;
}